@import "@/styles/global/mixins";

.infinite {
  max-width: 100%;
  overflow: hidden;
}

.infinite {
  .String {
    display: flex;
    width: 190%;
    @include spacer(padding, y, 1 / 2)
  }

  .text {
    white-space: nowrap;
    color: #ECFE3F;
    text-transform: uppercase;
  }
}

.mounted .text {
  animation: marquee-infinite 50s linear infinite;
}

@keyframes marquee-infinite {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}
